$red: #f00;
$teal: #378694;
$yellow: #ebbe00;
$black900: #1b1b1b;
$white: #fff;
$gray500: #7d7d7d;
$gray350: #ababab;
$gray150: #dadada;
$gray050: #f4f4f4;
$men: #000082;
$kids: #96c800;
$boys: #0091d7;
$girls: #eb64a5;
