.fr-linkButtonParent
  a.js-trackEvent.fr-linkButton.-black.js-smoothScroll(data-category="category" data-label="labelCorp" data-link="#read")
    | クリックイベント確認用
.fr-linkButtonParent.-horizontal
  a.fr-linkButton.-s.-black(href="#") テキストが入ります
  a.fr-linkButton.-s.-white(href="#") テキストが入ります
.fr-linkButtonParent.-horizontal
  a.fr-linkButton.-m.-black(href="#") テキストが入ります
  a.fr-linkButton.-m.-white(href="#") テキストが入ります
.fr-linkButtonParent.-horizontal
  a.fr-linkButton.-l.-black(href="#") テキストが入ります
  a.fr-linkButton.-l.-white(href="#") テキストが入ります
.fr-linkButtonParent
  a.fr-linkButton.-s.-black(href="#") テキストが入ります
  a.fr-linkButton.-m.-white(href="#") テキストが入ります
  a.fr-linkButton.-l.-white(href="#") テキストが入ります
